*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

/***********Upper social media bar**********/
.upperdiv{
    background-color: #eaefff;
    padding:0px;
	width:100%;
	height:40px;
}


.social_icon{
	 
 float: right;
    text-align: right;
	padding:3px;
	
}

.social_icon a{
	  font-size: 25px;
     padding-right:30px;

	 
}

.social_media{
	margin-right:20px;
}

/********Navigation Bar*******/
.container {
  height: 60px;
  background-color:white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
}

.container .logo {
  max-width: 250px;
  padding: 0 10px;
  overflow: hidden;
}

.container .logo  {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px;
}

.container .logo  img {
  max-width: 100%;
  max-height: 60px;
}

.container nav {

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 10px;

}

.container .contact p{
	font-size:10px;
	float:right;
}

.container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  
}

.container nav ul li a {
  text-decoration: none;
  color: #0c3e72;
  font-size: 14px;
  text-transform: uppercase;
  display: block;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
  padding: 0 10px;
  
}



.container nav ul li a:hover {
  color: #ffffff;
  background-color: rgba(23, 23, 23, 0.9);
}

.container nav ul .close {
  display: none;
  text-align: right;
  padding: 10px;
}

.container nav ul .close span {
  font-size: 40px;
  display: inline-block;
  border: 1px solid #cccccc;
  padding: 0 10px;
  cursor: pointer;
}

.container nav .icon-bar {
  padding: 18px 8px;
  width: 50px;
  height: 60px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
}

.container nav .icon-bar i {
  background-color:black;
  height: 2px;
}


/***************Style Content of the body****************/
img {
    display: block;
	width:100%;
}

.thumbnail {
   
    display: inline-block;
}

.caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    text-align: center;
    color: white;
    font-weight: bold;
	font-family:Lobster;
	font-size:30px;
}

/****************Style the Resort with image link******************/

.top_place{
	width:100%;
	height:auto;
}

.top_place section  .resort {
	
 border-style: solid;
  border-color:yellow;
  padding:10px;
  margin:20px;
  height:300px;
  width:30%;
  background-color:blue;
  float:left;
 position: relative;
}
.top_place section  .resort img {
	
  width:100%;
  height:100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}
.resort:hover .overlay {
  opacity: 1;
}





@media only screen and (max-width: 650px) {
	
.social_icon{
	 
 float: right;
    text-align: right;
	padding:3px;
	
}

.social_icon a{
	  font-size: 10px;
     padding-right:10px;

	 
}
  .container {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .container .logo {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .container nav {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
  }

  .container nav ul {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    position: fixed;
    left: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #ffffff;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: left .3s;
    -o-transition: left .3s;
    transition: left .3s;
  }

  .container nav  ul li a {
    padding: 10px;
    font-size: 16px;
    height: auto;
    line-height: normal;
    color: #555555;
  }

  .container nav ul .close {
    display: block;
  }

  .container nav .icon-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .container nav ._Menus-show {
    left: 0;
	
  }
  
  .caption {
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate( -50%, -50% );
    text-align: center;
	font-size: 10px;
	color: white;
    font-weight: bold;

    
}
.top_place section  .resort {
	
 border-style: solid;
  
  padding:10px;
  margin:14px 5px 10px;
  height:150px;
  width:41%;
  
  float:left;

}
  
}

